@model IEnumerable<MiniBidlo.Models.Category>

<h2>Все категории</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название категории</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditCategory", "Admin", new { id = category.IdCategory })">Редактировать</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteCategory", "Admin", new { id = category.IdCategory })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="@Url.Action("CreateCategory", "Admin")">Добавить категорию</a>
