@model MiniBidlo.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Newtonsoft.Json;

<script src="~/js/addd.js"></script>
<link href="~/css/ProductDetail.css" rel="stylesheet" />
<script src="~/js/addcart.js"></script>

<body>
    <div class="container">
        <div class="card">
            <img alt="@Model.Name" src="~/image/@Model.ImageUrl" />
            <div class="card-content">
                <h2>@Model.Name</h2>
                <div class="price">@Model.Price ₽</div>
                <div class="features">
                    <h3>Описание товара</h3>
                    <p>@Model.Description</p>
                </div>
                <div class="specifications">
                    <h3>Характеристики</h3>
                    <ul>
                        <li>Количество: @Model.StockQuantity</li>
                        <li>Цвет: красный</li>
                        <li>Материал: свежие цветы</li>
                    </ul>
                </div>
                <div class="quantity">
                    <label for="quantity">Количество:</label>
                    <input type="number" id="quantity" value="1" min="1" max="@Model.StockQuantity" />
                </div>
                <div class="add-to-cart">
                    <button type="button" class="btn btn-primary" onclick="addToCart(@Model.IdProduct, document.getElementById('quantity').value)">Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>
</body>
